.nav-bar-desktop {
    .nav-bar {
        width: var(--desktop-view-width);
        max-width: var(--desktop-view-max-width);
        padding: 30px 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        line-height: 0;
    }

    .logo > img {
        width: 64px;
    }

    .right {
        display: flex;
        align-items: center;
        column-gap: 16px;
    }

    .icon {
        width: 40px;
    }

    .white-icons {
        display: none;
    }

    .black-icons {
        display: flex;
    }

    @media (prefers-color-scheme: dark) {
        .white-icons {
            display: flex;
        }

        .black-icons {
            display: none;
        }
    }

    .big-button {
        background-color: var(--accent-color);
        color: white;
        padding: 32px 28px;
        border-radius: 150px;
    }

    .white-icons,
    .black-icons {
        height: 40px;
        column-gap: 8px;
    }

    .language-switch__lang-button {
        height: 40px;
    }

    .language-switch__lang-button > img {
        height: 40px;
    }
}
