.nav-bar-mobile {
    #wpadminbar {
        z-index: 100002;
    }

    .hide-default {
        opacity: 0;
        visibility: hidden;
    }

    .white-icon {
        display: none;
    }

    .black-icon {
        display: block;
    }

    @media (prefers-color-scheme: dark) {
        .white-icon {
            display: block;
        }

        .black-icon {
            display: none;
        }
    }

    @keyframes showMenu {
        0% {
            transform: translate(0, -30px);
            opacity: 0;
            display: hidden;
        }

        1% {
            visibility: visible;
            opacity: 0;
        }

        100% {
            transform: translate(0, 0);
            opacity: 1;
        }
    }

    @keyframes hideMenu {
        0% {
            opacity: 1;
            visibility: visible;
            transform: translate(0, 0);
        }

        99% {
            opacity: 0;
        }

        100% {
            transform: translate(0, -30px);
            opacity: 0;
            visibility: hidden;
        }
    }

    .show-menu {
        animation: showMenu 0.15s ease-out forwards;
    }

    .hide-menu {
        animation: hideMenu 0.15s ease-in forwards;
    }

    .mobile-menu-view {
        position: absolute;
        z-index: 100000;

        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin-top: -300px;
        margin-bottom: -300px;

        background-color: var(--background-color);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .menu-list {
        padding: 35px;
    }

    .menu-list > h2 {
        color: var(--text-color);
    }

    .menu-list > .menu-list__menu-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 12px;
    }

    .menu-list > .menu-list__menu-item__now {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 12px;

        margin-top: 10px;
    }

    .menu-list__hover {
        color: var(--text-color);
        transition: all 0.17s ease-in-out;
    }

    .menu-list__hover:hover {
        color: var(--link-color);
        transform: scale(1.05, 1.05);
    }

    .menu-item__name {
        margin: 10px 0px;
    }

    .nav-bar {
        width: var(--desktop-view-width);
        max-width: var(--desktop-view-max-width);
        padding: 30px 0;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        line-height: 0;
    }

    .logo > img {
        width: 64px;
    }

    .right {
        display: flex;
        align-items: center;
        column-gap: 14px;
    }

    .mobile-menu-toggle {
        all: unset;
        cursor: pointer;
    }

    .mobile-menu-toggle :focus {
        outline: revert;
        position: relative;
        z-index: 100001;
    }

    .icon-height {
        height: 30px;
    }

    .circle-icon__accent-color {
        width: 30px;
        height: 30px;
        background-color: var(--accent-color);
        border-radius: 50%;
    }

    .top-icon {
        height: 40px;
        position: relative;
        z-index: 100001;
    }
}
