.nav-bar-desktop .nav-bar {
    width: var(--desktop-view-width);
    max-width: var(--desktop-view-max-width);
    padding: 30px 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    line-height: 0;
}

.nav-bar-desktop .logo > img {
    width: 64px;
}

.nav-bar-desktop .right {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.nav-bar-desktop .icon {
    width: 40px;
}

.nav-bar-desktop .white-icons {
    display: none;
}

.nav-bar-desktop .black-icons {
    display: flex;
}

@media (prefers-color-scheme: dark) {
    .nav-bar-desktop .white-icons {
        display: flex;
    }

    .nav-bar-desktop .black-icons {
        display: none;
    }
}

.nav-bar-desktop .big-button {
    background-color: var(--accent-color);
    color: white;
    padding: 32px 28px;
    border-radius: 150px;
}

.nav-bar-desktop .white-icons,
.nav-bar-desktop .black-icons {
    height: 40px;
    column-gap: 8px;
}

.nav-bar-desktop .language-switch__lang-button {
    height: 40px;
}

.nav-bar-desktop .language-switch__lang-button > img {
    height: 40px;
}
