.footer-message {
    width: 100%;
    text-align: center;
    margin: 50px 0;
}

.size-post-thumbnail {
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.not-found-message {
    width: 100%;
    text-align: center;
}

/*
  Page Navigation
*/
.page-navigation-sections {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.page-navigation-sections > .page-navigation-section {
    width: 100%;

    margin-top: 25px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page-navigation-sections > .page-navigation-section:first-child {
    justify-content: flex-start;
}

.page-navigation-sections > .page-navigation-section:last-child {
    justify-content: flex-end;
}

.column-gap {
    column-gap: 7px;
}

.selected a {
    color: var(--navigation-selected);
}

.archive-info {
    margin-top: 0;
    margin-bottom: 20px;
}
