.index-wrapper {
    width: var(--desktop-view-width);
    max-width: var(--desktop-view-max-width);

    display: flex;
    flex-direction: column;
    align-content: center;

    .not-found {
        text-align: center;
        margin: 0;
    }

    .grid {
        display: grid;
        gap: 40px 20px;
        grid-template-columns: repeat(2, 1fr);

        @media only screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .attachment-post-thumbnail,
    .no-image {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
    }
}
