.page-wrapper {
    width: var(--desktop-view-width);
    max-width: var(--content-desktop-view-max-width);

    @media only screen and (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.page-wrapper .post-title {
    margin-top: 0;
}
