.content size-post-thumbnail {
    object-fit: cover;
    aspect-ratio: 16/9;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.content .no-image {
    width: 100%;
    height: auto;
}

.content .wp-block-image img {
    width: 100% !important;
}

.content .post-info {
    color: var(--article-date-color);
    margin-bottom: 25px;
}

.content .post-title {
    margin-bottom: 10px;
    line-height: 1.4;
}
